<% include partials/header.ejs%>

<h1>Campgrounds page</h1>

<a href="/campgrounds/new">Add new campground</a>

<% campgrounds.forEach(function(campgrounds){ %>
    <div>
        <li>
            <h4><%= campgrounds.name%></h4>
            <img src="<%= campgrounds.image%>">
        </li>
    </div>
<% }) %>


<% include partials/footer.ejs%>